@use '../base' as b;
@use '../abstracts' as a;

body {
    background: url('/images/bg-top.svg') right top , url('/images/bg-bottom.svg') left bottom, a.$gray-blue-1;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    @include a.desktop {
        height: 100vh;
    }
}

.container {
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;

    @include a.desktop {
        max-width: fit-content;
    }
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include a.desktop {
        flex-direction: row;
    }
}

.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2em 0;
    max-width: 300px;

    h1 {
        width: 100%;
        text-align: center;
        color: a.$gray-blue;
        font-size: 1.75rem;
        padding: 2em 0;
    }

    span {
        color: a.$gray-blue-2;
        font-size: 0.75rem;
        display: inline-flex;
        align-items: center;
    }
    @include a.desktop {
        margin: 0;
        max-width: 50%;
        h1 {
            padding-top: 0;
        }

        span {
            font-size: 1rem;
        }
    }
}





